<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: 'control-label' %>
    <%= form.text_field :name, id: 'group_name', class: 'form-control' %>
  </div>

  <hr>

  <%= form.fields_for :products do |pf, idx| %>
    <div class="form-group">
      <%= pf.label :url_or_asin, "Product ##{pf.index + 1}", class: 'control-label' %>
      <%= pf.text_field :url_or_asin, class: 'form-control', readonly: pf.object.persisted?,
                                      placeholder: 'URL or ASIN' %>
    </div>
  <% end %>

  <div class="form-group actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', groups_path, class: 'btn btn-link' %>
  </div>
<% end %>
