<p id="notice"><%= notice %></p>

<h1>Groups of Competitors</h1>
<p class="text-muted">You can track up to 10 groups!</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Group</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.products_count %> <%= Product.model_name.human.pluralize(group.products_count).downcase %></td>
        <td class="text-right">
          <% if Rails.env.development? %>
            <%= link_to 'Run Check', check_group_path(group), method: :put, class: 'btn btn-link btn-xs' %>
          <% end %>

          <%= link_to edit_group_path(group), class: 'btn btn-warning btn-xs' do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>

          <%= link_to group, method: :delete, data: { confirm: 'Are you sure?' },
                             class: 'btn btn-danger btn-xs' do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can_track_competitors? %>
  <%= link_to new_group_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Track my Competitors
  <% end %>
<% end %>
