<p id="notice"><%= notice %></p>

<h1><%= @group.name %></h1>
<p class="text-muted"><%= @group.products_count %> products</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>Stock</th>
      <th>Price</th>
      <th>Reviews</th>
    </tr>
  </thead>

  <tbody>
    <% @group.products.preload(:last_snapshot).each do |product| %>
      <tr>
        <td>
          <%= link_to (product.last_snapshot&.title || product.safe_url), product.safe_url %>
        </td>
        <td><%= product.last_snapshot&.stock %></td>
        <td>
          <% if product.last_snapshot %>
            <%= number_to_currency product.last_snapshot.min_price || 0 %>

            <% if product.last_snapshot.max_price != product.last_snapshot.min_price %>
              - <%= number_to_currency product.last_snapshot.max_price || 0 %>
            <% end %>
          <% end %>
        </td>
        <td><%= product.last_snapshot&.reviews_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_group_path(@group), class: 'btn btn-warning' %>
<%= link_to 'Back', groups_path, class: 'btn btn-link' %>
