<h1 class="text-center">Welcome to Cash Cow Pro</h1>
<p class="text-center text-muted">Monitor your competitors and find out how to beat them!</p>

<br>
<br>

<div class="row">
  <div class="col-sm-3"></div>

  <% if can_track_competitors? %>
    <div class="col-sm-3 text-center">
      <%= link_to 'Track my Competitors', new_group_path %>
    </div>
  <% end %>

  <% if Group.any? %>
    <div class="col-sm-3 text-center">
      <%= link_to 'See my Groups', groups_path %>
    </div>
  <% end %>
</div>
