<% if @diffs.any? %>
Hi there,

Here is what changed from <%= l @date.yesterday %> to <%= l @date %>:

<% @diffs.each do |snapshot, diff| %>
<%= snapshot.title %>
<%= snapshot.product.safe_url %>

<% diff.each do |field, changes| %>
<%= Snapshot.human_attribute_name(field) %>:
<% if changes.is_a?(Hash) %>
  <% changes[:removed].each do |value| %>
  * Removed: <%= value %>
  <% end %>
  <% changes[:added].each do |value| %>
  * Added: <%= value %>
  <% end %>
<% else %>
  * Removed: <%= changes.first %>
  * Added: <%= changes.last %>
<% end %>

<% end %>

<% end %>
<% else %>
Hi there,

Nothing changed in this group from <%= l @date.yesterday %> to <%= l @date %>.
<% end %>

Have a nice day!
