<% if @diffs.any? %>
  <p>Hi there,</p>

  <p>Here is what changed from <%= l @date.yesterday %> to <%= l @date %>:</p>

  <% @diffs.each do |snapshot, diff| %>
    <h3><%= snapshot.title %></h3>
    <%= link_to snapshot.product.safe_url, snapshot.product.safe_url %>

    <ul>
      <% diff.each do |field, changes| %>
        <li>
          <b><%= Snapshot.human_attribute_name(field) %></b>:

          <% if changes.is_a?(Hash) %>
            <ul>
              <% changes[:removed].each do |value| %>
                <li class="deleted"><%= value %></li>
              <% end %>
              <% changes[:added].each do |value| %>
                <li class="added"><%= value %></li>
              <% end %>
            </ul>
          <% else %>
            <span class="deleted"><%= changes.first %></span>
            <span class="added"><%= changes.last %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>Hi there,</p>

  <p>Nothing changed in this group from <%= l @date.yesterday %> to <%= l @date %>.</p>
<% end %>

<p>Have a nice day!</p>
