<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag :mailer, media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
